body, p, h1, ul, li, blockquote {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Vollkorn', Georgia, serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

/* Grid global */

.estrutura {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px; /* Definindo a quantidade de colunas do site e o tamanho (3 tamanhos = 3 colunas)*/
    grid-template-areas: 
    "header header header"
    "sidenav content anuncios"
    "footer footer footer" ; /* Aqui estamos organizando o conteúdo - lembrando que só vão funcionar depois que posicionarmos eles*/
}

@media (max-width: 1200px) {
    .estrutura {
        grid-template-areas: 
        "header header header"
        "sidenav content content"
        "sidenav anuncios anuncios"
        "footer footer footer";
    }
}

@media (max-width: 760px) {
    .estrutura {
        grid-template-columns: 100%;
        grid-template-areas: 
        "header"
        "sidenav"
        "content"
        "anuncios"
        "footer";
    }
}


/* Header */

.header {
    grid-area: header;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    padding: 30px;
    display: grid; /* Foi feito isso p/ o menu e a logo ficarem separados*/
    grid-template-columns: 1fr auto;
    align-items: center;
}

.logo {
    max-width: 200px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header nav a {
    display: block;
    padding: 10px;
    color: #FFF;
    font-size: 1.125em;
    background: rgba(0, 0, 0, .1);
    border-radius: 5px;
    transition: 0.1s;
}

.header nav a:hover {
    background: rgba(0, 0, 0, .5);
}

.header li + li { /* Aqui não vai criar espaços desnecessários */
    margin-left: 30px;
}

@media (max-width: 760px) {
    .header {
        grid-template-columns: auto;
    }
    .header nav a {
        font-size: 1em;
    }
    .header li + li {
        margin-left: 10px;
    }
    .logo {
        margin-bottom: 20px;
    }
}

/* Sidenav */

.sidenav {
    grid-area: sidenav;
    background: #fafbfc;
    padding: 30px;
}

.sidenav li a {
    display: block;
    min-width: 60px;
    max-width: 100px;
    margin: 0 auto 30px auto;
    background: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15);
    transition: .1s ease-out;
}

.sidenav li a:hover {
    background: #B07DFB;
}

@keyframes seta {
    from {
        right: 30px;
    }

    to {
        right: 20px;
    }
}

@media (max-width: 760px) {
    .sidenav {
        position: relative;
        overflow-x: auto; /* Cria aquele barra de rolagem exclusiva para o sidenav*/
        /* -webkit-overflow-scrolling: touch; Não funciona mais - pesquisar qual é o novo comando*/
    }
    .sidenav::after {
        content: '→';
        position: absolute;
        top: 5px;
        right: 30px;
        color: rgba(0, 0, 0, .3);
        animation: seta .5s ease-in 0s infinite alternate;
    }
    .sidenav ul {
        display: flex;
    }
    .sidenav li {
        flex: 1 0 60px; /* flex-basis*/
    }
    .sidenav {
        padding: 0 30px;
    }
    .sidenav li a {
        margin: 30px 30px 30px 0;
    }
}

/* Main */

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    gap: 30px;
}

@media (max-width: 600px) {
    .content {
        grid-template-columns: auto;
    }
}

.col-wide {
    grid-column: 1 / -1; /* conteudo se expande de ponta a ponta do container*/
}

.img {
    grid-row: span 2; /* imagem ocupando duas linhas*/
    align-self: end; /* selfie fala com um item especifico*/ 
}

.img-2 {
    align-self: end;
}

/* Estilos main */

p {
    font-size: 1.2em;
    line-height: 1.6;
    letter-spacing: -0.005em;
    color: rgba(0, 0, 0, .7);
}

.informacoes p + p {
    margin-top: 30px;
}

/* Título */

.titulo {
    color: #B07DFB;
}

.titulo h1 {
    font-size: 3.75em;
    line-height: 1;
    font-weight: 700;
}

.titulo span {
    font-size: 0.875em;
    font-style: italic;
}

/* Caracteristicas (calendario) */

.caracteristicas {
    display: flex;
    align-items: flex-start;
}

.caracteristicas > div { /* sinal de > fala diretamente com as divs dentro de caract.*/
    width: 80px;
    text-align: center;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15);
    border-radius: 5px;
    position: relative;
}

.caracteristicas > div:first-child {
    margin-right: 30px;
}

.caracteristicas span {
    display: block;
    color: #B07DFB;
}

.numero {
    font-size: 3em;
    line-height: 1;
    margin: 10px auto;
}

.rotulo {
    background: #FFF;
    border-radius: 0 0 5px 5px;
    padding: 5px 0;
    position: relative; /* para o background do calendario não vazar*/
    top: 2px;
}

.destaque {
    font-size: 0.875em;
    color: #B07DFB;
    max-width: 16em; /* não estica de ponta a ponta a escrita*/
}

.citacao, .atributos {
    align-self: start; /* p/ não deixar espaços desnecessários sobrando quando expandir*/
    padding: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15); 
}

.citacao p {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    color: #FFF;
    max-width: 500px;
    margin: 0 auto; /* alinha o bloco ao centro*/
}

.atributos li {
    color: #FFF;
    font-family: 'Courier New', Courier, monospace; /* fonte para fichas*/
    font-size: 1.125em;
    padding: 15px;
}

.atributos li + li {
    border-top: 1px solid #B07DFB; /* Criandoa barra de separação de conteúdo somente nos itens do meio*/
}

/* Anúncios */

.anuncios {
    grid-area: anuncios;
    background: #fafbfc;
    display: grid;
    align-content: start;
    padding: 30px;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/* Footer */

.footer {
    grid-area: footer;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
}

.footer p {
    color: #FFF;
    text-align: center;
    padding: 30px;
}